/**
 * Customize default theme styling by overriding CSS variables:
 * https://vitepress.dev/guide/extending-default-theme#customizing-css
 */

:root {
  --vp-c-brand-1: #3b82f6;
  --vp-c-brand-2: #2563eb;
  --vp-c-brand-3: #1d4ed8;
}

.dark {
  --vp-c-brand-1: #60a5fa;
  --vp-c-brand-2: #3b82f6;
  --vp-c-brand-3: #2563eb;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #3b82f6 30%,
    #8b5cf6
  );
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

/*.flex .box {
    border-right: 1px solid var(--vp-c-divider);
    padding-left: 32px;
    padding-right: 32px;
}

.flex .box:first-child {
    padding-left: 0;
}

.flex .box:last-child {
    border-right: none;
    padding-right: 0;
}
*/
.vp-doc h3 {
    margin: 0;
}
